@import "mixins";
@import "variables";

.button {
  cursor: pointer;
  border: none;
  text-align: center;
  font-size: rem(14);
  line-height: rem(16);
  padding: rem(12 14);
  border-radius: rem(100);
  font-weight: 500;

  @include md {
    font-size: rem(16);
    line-height: rem(18);
    padding: rem(16 24);
  }

  &.solid {
    background-color: colorToHex("primary-black");
    color: colorToHex("primary-white");
  }


  &:disabled {
    opacity: 0.4;
    pointer-events: none;
  }

}