@import "mixins";
@import "variables";

.input,
.inputArea {
  border: rem(1) solid transparent;
  font-size: rem(14);
  line-height: rem(16);
  padding: rem(14);

  &:disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &::placeholder {
    opacity: 0.75;
  }

  @include md {
    font-size: rem(16);
    line-height: rem(18);
    padding: rem(16 24);
  }
}

