@import "mixins";
@import "variables";

.input,
.inputArea {
  background: transparent;
  border-radius: rem(8);
  padding: rem(8 12);
  font-size: rem(16);
  line-height: rem(18);

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="number"] {
    -moz-appearance: textfield;
  }

  &.transparent {
    border-width: rem(1);
    border-style: solid;
  }

  &:disabled {
    opacity: 0.4;
    pointer-events: none;
    color: inherit;
  }

  &::placeholder {
    opacity: 0.75;
  }

  @include md {
    padding: rem(12 16);
    font-size: rem(18);
    line-height: rem(20);
  }
}

