@import "../styles//main";

.main {
  min-height: 100vh;
  margin-left: unset;
  margin-bottom: rem(82);
  @include md {
    // same as navbar width
    margin-left: rem(76);
    margin-bottom: unset;
  }
  
}

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backgroundColor {
  background-color: colorToHex("primary-gray");
  position: relative;
}