@import "../../styles//main";

.topicDetailsContainer {
  display: flex;
  flex-direction: column;
  max-width: rem(500);
  gap: rem(20);
  img {
    height: rem(200);
    width: rem(400);
    object-fit: fill;
  }
  h3 {
    font-size: rem(22);
    line-height: rem(26);
    letter-spacing: rem(-1);
    font-weight: 500;
    @include md {
      font-size: rem(24);
      line-height: rem(28);
    }
  }
  @include md {
    gap: rem(30);
  }
}

.richText {
  font-size: rem(14);
  line-height: rem(20);
  letter-spacing: rem(-1);
  font-weight: 400;
  @include md {
    font-size: rem(16);
    line-height: rem(22);
  }
}