@import "../../styles//main";

.challengeContainer {
  position: relative;
  padding: rem(20);
  margin-bottom: rem(210);
  min-height: 100vh;
  @include md {
    margin-bottom: 0;
    margin-left: rem(260);

  }
}